.container {
    background-image: url("https://picsum.photos/1000/1000");
    background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  }
  