<!DOCTYPE html>
<html>
<head>
  <title>Navbar Example</title>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">

  
</head>
<body>


<div id="main">
    <header>
      <div id="hs1">
         <h2 id="hser"> <a routerLink="/home"> Home</a></h2>
        <h2 id="hpr"> <a routerLink="/category">Browse</a></h2>
      </div>
      <div id="hss2">
    
      <h2 id="hs2">Library</h2>
    </div>
      <div id="hs3">
        <h2 id="help"><a routerLink="/landing">category</a></h2>
      </div>
    </header>
     <button id="top" > <a href="#s1"><i class="fas fa-arrow-up" ></i> </a></button>
    
    
    <section id="s1">
      <h1 id="bh1">Healthcare innovation for better lives</h1>
    </section>
    
    
    
    
    <section id="s2" class="about">
      <br>
      <div class="container">
        <h2>Who are we?</h2>
        <p>We are a library system that is dedicated to providing access to a wide range of books and resources for our community.</p>
        <p>Our team of librarians and staff work diligently to curate an extensive collection of books, including fiction, non-fiction, reference materials, and more.</p>
        <p>We strive to create an inclusive and welcoming environment where individuals can explore their interests, expand their knowledge, and engage with literature.</p>
        </div>
        
      
    </section>
    
    <section  id="s3">
      <h2>Why use this?</h2>
      <h3>Ease of being home</h3>
      <div class="category">
        
        <div class="service">
          
    
          <h4><i class="fa-regular fa-print-magnifying-glass"></i>Diagnostic Equipment</h4>
          <p>You can use this right at the ease of you house</p>
        </div>
        <div class="service">
          <h4>More advanced</h4>
          <p>It gives you a more advanced look to what you could explore</p>
        </div>
        <div class="service">
          <h4>Know what is new</h4>
          <p>You can easily figure out what is in store for you</p>
        </div>
      </div>
     
    </section>
    
    <section id="s4">
    <div class="contact-us-block">
      <div class="contact-details">
        <h2>Contact Us</h2>
        <p><i class="fa fa-map-marker"></i> </p>
        <p><i class="fa fa-clock-o"></i> Mon-Fri: 9am-5pm, Sat-Sun: Closed</p>
        <p><i class="fa fa-phone"></i> +91 1234678990</p>
        <p><i class="fa fa-envelope"></i> info@library.com</p>
        
      </div>
      
      
    